<div id="<%= dom_id order %>">
  <p>
    <strong>Order:</strong>
    <%= order.order_id %>
  </p>

  <p>
    <strong>Product name:</strong>
    <%= order.product_name %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= order.product_id %>
  </p>

  <p>
    <strong>Customer:</strong>
    <%= order.customer_id %>
  </p>

  <p>
    <strong>Tracking number:</strong>
    <%= order.tracking_number %>
  </p>

</div>
