<div id="<%= dom_id product %>">
  <p>
    <strong>Product name:</strong>
    <%= product.product_name %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= product.price %>
  </p>

  <p>
    <strong>Stock:</strong>
    <%= product.stock %>
  </p>

  <p>
    <strong>Scent:</strong>
    <%= product.scent %>
  </p>

  <p>
    <strong>Consistency:</strong>
    <%= product.consistency %>
  </p>

</div>
